.nav {
    margin: 3rem;
    justify-content: space-between;
    &__logo {
        height: 15rem;
        margin-top: 2rem;
    }

    &__btn-list {
        display: flex;
        justify-content: space-evenly;
    }

    &__btn {
        border: 1px solid $color-black;
        text-decoration: none;
        padding: 3rem 4rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: $color-black;
        background-color: $color-primary;
        font-size: 1.5rem;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        text-align: center;
    }

    &__btn:hover {
        background-color: $color-primary-dark;
    }

    &__btn:active {
        border: none;
    }
}
