// COLORS
$color-primary: #e2b060;
$color-primary-dark: #b9904e;
$color-primary-light: #f0ba64;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
